<div class="containter">
  <div class="header">
    <h2>Review your new shopping list!</h2>
  </div>
  <div class="shopping-list">
    <p>No items were found for the last couple of weeks!</p>
  </div>
</div>
